[submodule "Mastering-Embedded-Linux-Programming-Second-Edition"]
	path = book/Mastering-Embedded-Linux-Programming-Second-Edition
	url = https://github.com/PacktPublishing/Mastering-Embedded-Linux-Programming-Second-Edition.git
[submodule "u-boot"]
	path = manual_prj/u-boot
	url = https://github.com/u-boot/u-boot
[submodule "crosstool-ng"]
	path = manual_prj/crosstool-ng
	url = https://github.com/crosstool-ng/crosstool-ng.git
[submodule "linux"]
	path = manual_prj/linux
	url = https://github.com/torvalds/linux.git
[submodule "buildroot"]
	path = buildroot_prj/buildroot
	url = https://github.com/buildroot/buildroot
